/* ================================= 
project
==================================== */

@import '../helpers.scss';

.project {
  width: 100%;
  padding: 0;
  position: relative;
  background: #46a7ba;
  overflow: hidden;

  @include mq(m) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: minmax(275px, 1fr);
    border-radius: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in main color overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale image on hover
  &:hover &__image:hover {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover .project__info_section {
    opacity: 1; 
    transform: translateY(0);
  }

  // Bring in call to action
  &:hover .project__action {
    opacity: 1;
    transition-delay: 3s;
    transition: 0.25s;
	  transition-property: bottom;
    transition: opacity 3s;
  }
}

.project__image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);

  &::before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
  } 
}

.project__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.project__info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 1; 
}

.project__info_section {
  opacity: 0;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
  transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms; 
}

.project__header {
  font-size: 20px;
  padding-top: 1.5rem;
}

.project__title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 20 0;
}

.project__aside {
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.project__action {
	position: absolute;
	background-color: rgb(250,128,114);
	width: 100%;
  padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0px;
  opacity: 0;
	// transition: 0.4s;
	// transition-property: bottom;
  // transition: opacity 0.5s;
}

.project__list-item {
  color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase
}
.project__list-item span {
    font-weight: 700;
}

.project__list-item i{
	color: #000;
	font-size: 20px;
}




// .project-text-description {
//   text-transform: uppercase;
//   font-size: 1.2rem;
//   opacity: 0.8;
//   margin: 0;
// }


//   @include mq(m) {
//     justify-content: start;
//     margin: 0 0 2rem;
//     padding: 0;
//   }

// }

