/* ================================= 
cta
==================================== */
@import '../helpers.scss';

.cta {
  background: #091822;
  color: #d8d7da;
  padding: 2.5em 1em 3em;
  height: auto;
}

.cta__container {
  background: inherit;
  max-width: 500px;
  margin: 0 auto;
}

.cta__title {
  font-size: 20px;
  margin-bottom: 2rem;
  color: #f3f1e7;
}

.cta__form {
  margin: 0 auto;
  max-width: 100%;
  width: 40rem;
}

.cta__form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem 0;
}

.cta__label {
  color: #19131a;
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0;
}

.cta__input {
  margin-bottom: 1rem;
  background-color: inherit;
  border-radius: 0;
  border: 0;
  border-bottom: solid 1px #f3f1e7;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  color: #f3f1e7;
}

.cta__textarea {
  height: 100px;
}

.cta__btn--submit,
.cta__btn-icon {
  color: #0d2f40;
}

.cta__btn--submit {
  padding: 0 1.5rem;
  background-color: rgb(44, 187, 255);
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 3rem;
  line-height: 3;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  transition-timing-function: ease;
  transition: padding .3s;

  @include mq(m) {
    width: 175px;
  }
}
.cta__btn {
  width: 160px;

  &:hover .cta__btn--submit {
    padding-left: 11px;
  }

  &:hover .cta__btn-icon {
    margin-left: -29px;
    opacity: 1;
  }

}

.cta__btn-icon {
  margin-left: -43px;
  font-size: 14px;
  opacity: 0;
  transition-timing-function: ease;
  transition:  opacity 0.1s, margin-left 0.3s;
}

