/* ================================= 
  main content
==================================== */
.l-main {
    width: 100%;
    margin: 0 auto;
  }

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}