@import '../helpers.scss';

/* ================================= 
  navbar
==================================== */

.navbar {
   width: 100%;
  }

// nav 

.nav-item {
    display: inline-block;
    margin: 0 20px; 
  }
  
  .nav-link {
    color: #fff;  
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.25rem;
    transition: border-color 0.5s;
  
    &:hover {
      color: #FFA384;
      border-color: #FFA384;
  
    }
  
  }

  .navbar-collapse {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);

    @media(min-width: 768) {
      position: static;
    top: unset;
    left: unset;
    background-color: none;
    }
  }