@import '../helpers.scss';

/* ================================= 
  navbar
==================================== */

.navbar {
   width: 100%;
  }

// nav 

.nav-item {
    display: inline-block;
    margin: 0 20px; 
  }
  
  .nav-link {
    color: #fff;  
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.25rem;
    transition: border-color 0.5s;
  
    &:hover {
      color: #2cbbff;
      border-color: #2cbbff;
  
    }
  
  }