/* ================================= 
  var Breakpoints
==================================== */

// Small devices
$break-xs: 374px;
// Small devices
$break-sm: 375px;
// i xl devices
$break-i: 410px;
// Medium devices
$break-m: 768px;
// Large devices
$break-l: 992px;
// Extra large devices
$break-xl: 1200px;
// Retna devices
$break-ret: 1400px;
// 4k large devices
$break-4k: 2560px;