/* ================================= 
  var colors
==================================== */

$aquamarine: #46a7ba;
$primary:$aquamarine;
// $color-prim: $aquamarine;
$salmon: #FFA384;
$secondary: $salmon;
// $color-sec: $salmon;
$baby-blue: #E7F2F8;
$color-tert: $baby-blue;
$color-bk: #19131a;
$color-wh: #f3f1e7;
